<!DOCTYPE html>
<html lang="en">
<head>
        <title>{{page_title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li id="Pratiche"><a href="/pratiche">Pratiche</a></li>
        <li id="Gestori"><a href="/gestori">Gestori</a></li>
        <li id="Comuni"><a href="/comuni">Comuni</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"> {{user}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </li>
        {{else}}
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

   {{{body}}}

   <script>
     var ele = $('li#{{page_title}}');
     if (ele) ele.attr("class", "active");
//     else $('div.navbar-header').addClass("active");
   </script>
</body>
</html>

